{% extends 'base.html' %}

{% load static %}




{% block content %}

	{% include 'includes/dashboard_sidebar.html' %}


	<main class="col-md-9 text-dark">
		<article class="card">
		<header class="card-header">
			<strong class="d-inline-block mr-3 text-dark"> You are logged in as :</strong>
			<span class="text-danger">{{user.get_full_name}}</span>
		</header>
		<div class="card-body">
				<img class="rounded-circle" src="{{ userprofile.profile_image.url }}"  width="50" height="50">
				<div class="text-left ">
					<span class="mb-0"> {{ user.email }}</span><br>
				</div>
				<a href="{% url 'edit_profile' %}" class="d-block"> Edit Profile</a>					
				</div>
			</div> <!-- row.// -->
		</div> <!-- card-body .// -->
	</article> <!-- order-group.// --> 
	</main>
</div> <!-- row.// -->
</div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= FOOTER ========================= -->

<!-- ========================= FOOTER END // ========================= -->



</body>
</html>


{% endblock content %}