{% extends 'base.html' %}
{% load static %}
{% block content %} 
{% include 'includes/dashboard_sidebar.html' %}

<main class="col-md text-dark">
  <article class="card">
    <header class="card-header">
      <strong class="d-inline mr-3 text-dark">Password Change Done..!</strong>
    </header>
    <hr>
    <div class="card-body">
        <div class="row"> 
            <div class="col-md-6">
                <div class="align-item-center justify-content-center d-flex">
                    
                    <div class="d-flex">
                        <p class="text-center"> Password Succesfully changed..!</p>
                        <div class="">
                            <a href="{% url 'home' %}"> here..</a>
                        </div>

                    </div>

                </div>            
            </div>
        </div> <!-- row.// -->
    </div> <!-- card-body .// -->
  </article>
</main>
</div>
</div>
{% endblock content %}
