{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="container">
        <div class="head text-white ">
            <h3 class="align-item-center d-flex justify-content-center" ><u>Change Your Password..!</u></h3>
        </div>
        <div class="align-item-center justify-content-center d-flex">
            <form  method="post">
                {% csrf_token %}
                {{ form.as_p }}
                
            </form>
        </div>
    </div>
    

{% endblock content %}


