{% extends 'base.html' %}

{% load static %}
{% block title %}Profile{% endblock title %}


{% block content %}


<section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto text-dark" style="max-width:520px; margin-top:40px;">
          <article class="card-body">
            <header class="mb-4"><h4 class="card-title ">Sign up</h4></header>
            <form class="register-form outer-top-xs col-lg-12 col-xl-12 " id="registerform" role="form" method='post'>
                {% csrf_token %}
                
                  {% comment %} {% if form.errors %}
    
                  <li class="text-white">{{ form.field.errors }}</li>
                  <li class="text-white">{{ form.non_field.errors}}</li>
                  {% endif %} {% endcomment %}
    
                  {% for errors in form %}
                  <div class="form-field">
                      {{ field.label_tag }}
                      {{ field }}
                      {% if field.errors %}
                          <p class="error-message text-danger">{{ field.errors }}</p>
                      {% endif %}
                  </div>
                  {% endfor %}
    
                
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label>First name</label>
                            {{ form.first_name }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="col form-group">
                            <label>Last name</label>
                            {{ form.last_name }}
                        </div>
                    </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label> Email</label>
                            {{ form.email }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="col form-group">
                            <label > Password</label>
                            {{ form.password1 }}
                        </div>
                    </div>
                    <div class="col">
                        <div class="col form-group">
                            <label> Confirm Password</label>
                            {{ form.password2 }}
                        </div>
                    </div>
                </div>
                </div>
    
                <div class=" align-item-center form-group"><br><br> 
                    <button  class="btn-upper btn btn-success submit-page-button justify-content-center d-flex align-item-center" type="submit">Signup</button>
                </div>
                <p class="text-center mt-4">Have an account? <a href="{% url 'loginuser' %}">Log In</a></p>
            </form>		
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
    <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
    </section>

    

{% endblock content %}


