{% extends 'base.html' %}

{% load static %}




{% block content %}



{% include 'account/dashboard_sidebar.html' %}

	{% block main-content %}
	
	<div class=" row bg-light d-flex d-inline-block mr-3 col-lg">
		<div class="col-6 text-dark">
			<div class="card">
				<div class="card-body">
					<h5 class="">Total Orders</h5>
					<h4>100</h4>
				<a href="{% url 'orders' %}"> View orders</a>
			</div>
		</div>
	</div>
	<div class=" row bg-light d-flex d-inline-block mr-3 col-md">
		<div class="col text-dark">
			<div class="card">
				<div class="card-body">
					
					{% if user.profile_image %}
					<img class="rounded-circle" src="{{ user.profile.profile_image.url }}" alt="profile picture" width="50" height="50">
					{% else %}
					<p class="text-danger">You are not uploaded YOur Profile</p>
					{% endif %}	

					<div class="text-left ">
						<span class="mb-0"> {{ user.email }}</span><br>
					</div>

					<a href="" class="d-block"> view profile</a>
			</div>
		</div>
	</div>

	

	{% endblock main-content %}
	
{% endblock content %}
	
<!-- ========================= SECTION CONTENT END// ========================= -->


<!-- ========================= FOOTER ========================= -->

<!-- ========================= FOOTER END // ========================= -->





