{% extends 'base.html' %}

{% load static %}

{% block content %}


<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="card">
	<div class="row no-gutters">
		<aside class="col-md-6">
<article class="gallery-wrap"> 
	<div class="img-big-wrap">
	   <a href="#"><img src="{{select_product.image.url}}"></a>
	</div> <!-- img-big-wrap.// -->
	
</article> <!-- gallery-wrap .end// -->
		</aside>
		<main class="col-md-6 border-left">
<article class="content-body">

<h2 class="title text-dark">{{ select_product.product_name }}</h2>

<div class="mb-3"> 
	<var class="price h4">$ {{ select_product.price}}</var> 
</div> 

<p class="text-dark">{{select_product.description}}.</p>


<hr>
<!-- variations -->

	


	
	<hr>
	<form  class="d-inline" action="/add-to-cart" >
		{% csrf_token %}
		<input type="hidden" name="prod_id" value="{{ select_product.id }}"/>
		<div class="align-item-center">
			<button type="submit" class="btn btn-primary shadow px-6 py-9"> Add to Cart<span><i class="fas fa-shopping-cart"></i> </span></button>
		</div>
	</form>

	<form  class="d-block col-lg py-4" action="/wishlist">
		<div class="form-row">
			<input type="hidden" name="pid" pid="{{ select_product.id }}">
			<button type="submit" class="btn align-item-center justify-content-center"><span><i class="fas fa-heart"></i></span></button>
		</div>
	</form>
</article> <!-- product-info-aside .// -->
		</main> <!-- col.// -->
	</div> <!-- row.// -->
</div> <!-- card.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

<br>

<div class="row">
			<div class="col-md-9">

	<header class="section-heading">
		<h3>Customer Reviews </h3>  
		
	</header>

	</div> <!-- col.// -->
</div> <!-- row.// -->


</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


<script src="{% static 'js/script.js' %}">
$('.btn-heart').click(function(){
	console.log('Wishlist');
	alert('You clicked')
	var id = $(this).attr("pid").toString();
	console.log(id);
	// console.log($(this));
	alert('working')
	$.ajax({
	type : "GET",
	url  : "/wishlist",
	data : {
		prod_id : id,
	},
	
	success:function(data){
		console.log('Success');
		window.location.href = `http://localhost:7000/wishlist/${id}`
	},
	})
	})
</script>
</body>
</html>
{% endblock content %}