{% extends 'base.html' %}

{% load static %}


{% block content %}
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-content padding-y" style="min-height: 84vh">
      <!-- ============================ COMPONENT LOGIN   ================================= -->
      <div
        class="card mx-auto bg-light text-dark"
        style="max-width: 380px; margin-top: 100px"
      >
        <div class="card-body">
          <h4 class="card-title mb-4 text-center">Login Account</h4>
          <form
            class="register-form outer-top-xs col-lg-12 col-xl-12"
            id="registerform"
            role="form"
            method="post"
          >
            {% csrf_token %}

          {% comment %} {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger container">
                  <strong>{{ error|escape }}</strong>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span>
                  </button>
                </div>
              {% endfor %}
            {% endfor %}

            {% for error in form.non_field_errors %}
              <div class="alert alert-danger container-fluid">
                <strong>{{ error|escape }}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            {% endfor %}
          {% endif %} {% endcomment %}
            

			{% for field in form %}
      <div>
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
            <div class="error-message">
                {% for error in field.errors %}
                    <li class="text-danger">{{ error }}</li>
                {% endfor %}
            </div>
        {% endif %}
      </div>
    {% endfor %}
      


            {% comment %} <div class="row align-item-center justify-content-center">
              <div class="col-lg-12">
                <div class="row form-group">
                  <label> Email</label>
                  {{ form.email }}
                </div>
              </div>
              <div class="row">
                <div class="row form-group">
                  <label for="password"> Password</label>
                  <div class="container">
                    {{ form.password1 }} 
                  </div>
                </div>
                
              </div>
            </div> {% endcomment %}


            <div class="form-group p-4">
              <button type="submit" class="btn btn-primary btn-block">
                Login
              </button>
              <p class="text-dark px-3 py-4">Don't have your Password. <a href="{% url 'reset_password' %}"> Forgot Password?</a></p>
            </div>

            <!-- form-group// -->
          </form>
        </div>
        <!-- card-body.// -->
      </div>
      <!-- card .// -->

      <p class="text-center mt-4">
        Don't have account? <a href="{% url 'signup' %}">Sign up</a>
      </p>
      <br /><br />
      <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
    
  </body>


<script>
  
</script>

</html>
{% endblock content %}